.Container {
    display: flex;
    width: 95vw;
    padding: 0px;
    margin: 0px;
}
.Graph {
    width: 80vw;
    height: 80vh;
}
.GraphElement {
    width: 100vw;
}
.Form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(255, 123, 172), #00FFFF) 1;
    padding: 1vw;
    
}
input {
    width: 5vw;
}